Recruiter Auto Cold Email System.json
{
  "name": "Recruiter Auto Cold Email System",
  "nodes": [
    {
      "parameters": {},
      "id": "ec4be682-9987-4b2e-ad11-564dd4c4ed60",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -144,
        -16
      ]
    },
    {
      "parameters": {
        "sheetId": "19HOWlcsWvpjUmrxNdhv-HB1doukIqv9n6M5M9oyQDls",
        "range": "RecruiterList!A:D",
        "options": {}
      },
      "id": "988ecc90-9e71-444c-8441-4217e0c22dcc",
      "name": "Read Companies",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [
        48,
        -16
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CJQ0v2Kn1FUgYfK0",
          "name": "recruiter list"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"Status\"]}}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "3e320bd3-f567-4345-b900-c6bf6bd28cfb",
      "name": "Filter Unsents",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        224,
        -16
      ]
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "id": "0702387c-e0d8-4328-8c37-60038c65e730",
      "name": "Split in Batches (20/day)",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        432,
        -16
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "subject": "=🚀 Excited to contribute to {{$json[\"Company Name\"]}} as a Python, AI & ML Engineer",
        "includeHtml": true,
        "htmlMessage": "=Hi {{$json[\"Company Name\"]}} Team,<br><br>  I hope you're doing well!<br><br>  I'm <b>Piyush Borney</b>, a passionate <b>Python Developer and Machine Learning Engineer</b> with a strong focus on building scalable AI and automation systems.<br><br>  I came across your company <b>{{$json[\"Company Name\"]}}</b> and would love to explore opportunities to contribute my skills to your team.<br><br>  Here’s a quick snapshot of what I do:<br> - Develop end-to-end ML models for prediction and automation<br> - Build Python-based data pipelines and API integrations<br> - Optimize performance in AI-driven systems<br><br>  Please find my resume attached for your review.   I would be thrilled to discuss how I can contribute to <b>{{$json[\"Company Name\"]}}</b>’s goals and bring value through my technical skills.<br><br>  Warm regards,<br> <b>Piyush Borney</b><br> 📧 borneypiyush08@gmail.com<br> 💻 <a href=\"https://github.com/borney11\" target=\"_blank\">github.com/borney11</a>",
        "message": "=See HTML version above.",
        "toList": [
          "={{$json[\"Email\"]}}"
        ],
        "additionalFields": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "attachments"
              }
            ]
          }
        }
      },
      "id": "15ba818a-ea1d-4c6c-b4dc-a5dd50093e85",
      "name": "Send Email (Gmail)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        864,
        -16
      ],
      "retryOnFail": false,
      "alwaysOutputData": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "YcfjSMtCgz6YNqMz",
          "name": "recruiterList"
        }
      }
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "id": "3032acc2-2083-4d95-9720-1ae5bc8c2757",
      "name": "Wait 10s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1040,
        -16
      ],
      "webhookId": "be0e3750-4494-4535-a4aa-80e9aeb7b329"
    },
    {
      "parameters": {},
      "id": "583bd6de-33cd-44ed-844f-13554e2a9ba6",
      "name": "Next Batch",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1248,
        -16
      ]
    },
    {
      "parameters": {
        "url": "https://drive.google.com/uc?export=download&id=1YQy-SuqJl3dJShIutVzTWFbLM-fP8Gnh",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "attachments"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        -16
      ],
      "id": "bb33dbe4-23a6-4e17-bbd5-ac5131e4e15f",
      "name": "Add Resume"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "19HOWlcsWvpjUmrxNdhv-HB1doukIqv9n6M5M9oyQDls",
          "mode": "list",
          "cachedResultName": "RecruiterList",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19HOWlcsWvpjUmrxNdhv-HB1doukIqv9n6M5M9oyQDls/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "RecruiterList",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19HOWlcsWvpjUmrxNdhv-HB1doukIqv9n6M5M9oyQDls/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company Name": "={{ $json[\"Company Name\"] }}\n",
            "Location": "={{$json[\"Location\"]}}\n",
            "Status": "Sent",
            "Email": "={{ $json[\"Email\"] }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        848,
        256
      ],
      "id": "75c3b540-ddfd-4315-a04d-7962568eab24",
      "name": "Mark Sent",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CJQ0v2Kn1FUgYfK0",
          "name": "recruiter list"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Read Companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Companies": {
      "main": [
        [
          {
            "node": "Filter Unsents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Unsents": {
      "main": [
        [
          {
            "node": "Split in Batches (20/day)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split in Batches (20/day)": {
      "main": [
        [
          {
            "node": "Add Resume",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mark Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email (Gmail)": {
      "main": [
        [
          {
            "node": "Wait 10s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 10s": {
      "main": [
        [
          {
            "node": "Next Batch",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mark Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Resume": {
      "main": [
        [
          {
            "node": "Send Email (Gmail)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Sent": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bb850c83-d4c3-4f55-8266-38fa96077e4c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "53b0442caa2fb70b0e3118d2d550c9f911cce1f0337fab0207a79def2de43aa7"
  },
  "id": "PgbkAU4XzFkwd05F",
  "tags": []
}